.test
{
  border: 1px solid lightblue;
  background-color: white;
  text-align: center;
}
h1
{
  font-family: cursive;
  color: orange;
}
.test img
{
  width:100px;height:80px;
  float:left;
  padding-left: 20px;
  padding-top: 5px;
}
.test a
{
  color: 0077b6;
  float:right;
  padding: 30px;
  font-style: oblique;
  font-size: 20px;
}
a:hover
{
  transition: 1s;
  transform: scale(1.1);
  transition: all ease 1000ms;
}
.profiles a
{
  padding-left: 100px;
}
