@font-face {
   font-family: 'Varela Round';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/camer/OneDrive%20-%20RMIT%20University/COSC2196%20Introduction%20to%20Information%20Technology/Assignment%2002/Website/fonts/Varela Round/regular.ttf') format('truetype');
}
