@font-face {
   font-family: 'Varela Round';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/camer/Documents/GitHub/RDS/Mobirise%20Project/IT%20Technologies/Cloud%20services/fonts/Varela Round/regular.ttf') format('truetype');
}
